
html, body{
    width: 100%;
    margin: 0px;
}
body{
    background-color: #DBCABD;
}
.menu{
    display:flex;
    justify-content: space-between;
    background: #E69128;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    height: fit-content;
}

.menu-brand{
    padding: 10px;
    margin: auto;
    font-weight: bold;
}
.menu-link{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: auto;
}
.active{
    background-color: #c64b4b;
}
.menu-login{
    cursor: pointer;
    background-color: #7F0D0D;
    padding: 10px;
    color:white;
    text-decoration: none;
}

.container{
    width: 600px;
    margin: auto;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 0px 4px #ccc;

}
table{
    width: 100%;
}
table, td, th, tr{
    text-align: left;
    padding: 10px;
    border: none;
    border-collapse: collapse;
}
th{
    color: white;
    background-color: rgb(150,42,42);
}
.form{
    margin: auto;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    max-width: 600px;
    color: #555;
    box-shadow: 1px 1px 4px #ccc;
    padding: 10px;
}
.form-item{
    padding: 15px;
    margin:auto;
}
.form-submit{
    border: none;
    width: min-content;
    cursor: pointer;
}
textarea{
    border: 1px solid #ccc;
}
textarea:focus{
    outline: none;
    border: 1px solid skyblue;
}
.end{
    display:flex;
    justify-content: flex-end;
}

input{
    width: 100%;
    height: 31px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
input:focus{
    outline: none;
    border-bottom: 1px solid skyblue;
}
.button{
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #5A0912;
    color: white;
}
.button:active{
    transform: translateY(2px);
}
